@charset 'utf-8';

@media screen and (max-width:568px){
    .section.page3 .character h2{font-size: 33px;}
    .tab_wrap>ul>li>a{font-size: 17px !important;}
    .characters .bodyImg{
        position: relative;
        width: 100%;
    }

    .introduce{
        padding: 0 16px;
    }
    .introduce p{font-size: 17px !important;}
    .introduce h2{font-size: 22px !important;}

    .section.page4 .story p{font-size: 14px;}
}