@charset 'utf-8';

body{font-family: 'Noto Sans KR', sans-serif;}

.navbar{
    background: rgba(0,0,0,0.6) !important;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.navbar .nav-item{width: 20%;}
.navbar .nav-item a{font-size: 18px;}


#video{
    position: absolute;
    left: 0;top: 0;width: 100%;height: 100%;
    object-fit: cover;
}

.section.page1 .topImg{z-index: 1;}


.section.page1 .nextBtn{
    position: absolute;z-index: 1;
    left: 50%;transform: translateX(-50%);
    bottom: 0;
    animation:scroll 0.8s infinite alternate;
}
@keyframes scroll{
    to{bottom: 20px;}
}

.section.page2{background: #302A24;}
.section.page2 .intro{color: #c59771;}

.section.page2 .frame{
    position: absolute;
    top: 0;
    left: 50%;transform: translateX(-50%);
    z-index: 9999;
}

.mySwiper{
    height: 50px;
    width: 100%;
}
.mySwiper .swiper-wrapper{width: 100%;}
.mySwiper .swiper-slide{
    width: 20%;height: 100%;opacity: 0.4;
    color: #C18243;background: #4C3222;
    cursor: pointer;
    display: flex;align-items: center;justify-content: center;
    border-radius: 5px;
}
.mySwiper .swiper-slide-thumb-active{
    opacity: 1;
    color: white;font-weight: bold;
}

.swiper-button-prev,
.swiper-button-next{
    background: url(../images/btn_left.png) no-repeat center;
    background-size: cover;
    width: 60px;height: 90px;
    top: 50%;transform: translateY(-50%);
}
.swiper-button-prev{left: 100px;}
.swiper-button-next{
    transform: rotate(180deg) translateY(50%);
    right: 100px;
    top: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after{display: none;}

.swiper-pagination{
    position: initial;
}

.swiper-horizontal > .swiper-scrollbar{
    top: 0;
}
.swiper-pagination-bullet{
    border-radius: 0.3125rem;
    width: 6px;height: 6px;
    background-color: #C08D55;
    margin-right: 0.625rem;
    display: inline-block;
    transition: width 0.2s ease-in-out;
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    width: 38px;height: 6px;
    background-color: #E2CA99;
    margin-right: 0.75rem;
    cursor: default;
    pointer-events: none;
}

/* page3 */

.section.page3{background: #5B4D47;}
.section.page3 .character{color:#DFBF96;}
.section.page3 .characters{
    background: url(../images/characterPortraitCard.png) no-repeat center;
    background-size: contain;
}



/* slide */
.tab_wrap>ul>li{width: 25%;text-align: center;}
.tab_wrap>ul>li>a{color:#FFF3D0;text-shadow: 3px 3px 3px gray}


.face li{
    background: url(../images/cookiebackground.png) no-repeat center;
    background-size: contain;
    height: 100px;
    margin-bottom: 15px;
    opacity: 0.5;
}
.face li a{
    display: block;height: 100%;
    display: flex;justify-content: center;align-items: center;
}
.characters{overflow: hidden;}

.face li.active{opacity: 1;}

.characters .bodyImg{
    position: absolute;
    left: 0;
    animation: body 1s infinite alternate;
}
@keyframes body{
    from{top: 0;}
    to{top: 20px;}
}
.introduce{
    padding-left: 150px;
}


/* page4 */
.section.page4{
    background: url(../images/gameStoryBackground.webp) no-repeat center;
    background-size: cover;
}
.section.page4 .world{color:#DFBF96}
.section.page4 .story p{color:#C6A693;font-size: 19px;}