@charset 'utf-8';
 /* header start */

        /* utli menu  */
        .util_wrapper{
            width: 980px;
            margin: 0 auto;
        }
        .util_wrapper>ul.util{float: right;}
        .util_wrapper>ul.util>li{float: left;}
        .util_wrapper>ul.util>li:after{
            content:"";width: 1px;height: 11px;
            display: block;
            background-color: #ccc;
            position: absolute;
            top: 7px;
        }
        .util_wrapper>ul.util>li:first-child:after{
            content:"";display: none;
        }
        .util_wrapper>ul.util>li>a{display: block;font-size: 12px;padding: 6px 10px;}

        .wall{height: 1px;background-color:#c4c4c4;}

        /* logo  */
        .logo_wrapper{width: 980px;margin: 0 auto;padding: 23px;}
        .logo_wrapper>h1>a{display: block;text-align: center;font-size: 24px;line-height: 28px;}

        /* nav  */
        .nav_wrapper{background-color: #1D5DA4;}
        .nav_wrapper>.nav{width: 980px;margin: 0 auto;}
        .nav_wrapper>.nav>li{
            float: left;width: 16.666%;
            border-left: 1px solid #356DAA;
            /* border-right: 1px solid #356DAA; */
            
        }
        .nav_wrapper>.nav>li:first-child{
            /* border-left: 1px solid #356DAA; */
        }
        .nav_wrapper>.nav>li:last-child{
            border-right: 1px solid #356DAA;
        }
        .nav_wrapper>.nav>li:nth-child(6){
            /* background-color: orange; */
        }
        .nav_wrapper>.nav>li>a{
            display: block;text-align: center;line-height: 45px;color:white;
            font-weight: bold;
        }
        .nav_wrapper>.nav>li>a:hover{background-color: #0b2542;}

        /* header end  */

        .visual{
            background-color: #213C6B;
            background-image: url(../images/main_bg01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            height: 400px;
        }

        .slide{
            width: 980px;height: 400px;
            margin: 0 auto;
            /* background-color: pink; */
            position: relative;
            overflow: hidden; /* 부모자 크기를 넘치면 잘라줌 */
        }

        .slide .img1{
            position: absolute;
            top: 100px;
        }
        .slide .img2{
            position: absolute;
            right: 0;  /* overflow: hidden; 부모자 크기를 넘치면 잘라줌 */
        }
        
        /* banner start  */
        .bannerWrap{background-color: #eeee;margin-bottom: 50px;}
        .banner{width: 980px;margin: 0 auto;}
        .bannerWrap>.banner li{
            float: left; width: 20%;height: 196px;
            padding-top: 13px;
        }
        .bannerWrap .banner img{margin: 0 auto;margin-bottom: 10px;}
        .bannerWrap .banner h3{
            font-size: 18px; text-align: center;margin-bottom: 5px;color:#fff
        }
        .bannerWrap .banner p{
            font-size: 14px; text-align: center;color:#fff
        }
        .bannerWrap .banner li:nth-child(1){background-color: #7C99B9;}
        .bannerWrap .banner li:nth-child(2){background-color: #4F74A1;}
        .bannerWrap .banner li:nth-child(3){background-color: #4B8CE0;}
        .bannerWrap .banner li:nth-child(4){background-color: #3DB5F2;}
        .bannerWrap .banner li:nth-child(5){background-color: #95C8FF;}
        /* banner end  */

        /* section one  */
        .section_one{width: 980px;margin: 0 auto;margin-bottom: 25px;}
        .section_one li{float: left;width: 310px;margin-right: 25px;}
        .section_one li:last-child{margin-right: 0;}
        .section_one .card_body{
            padding: 16px 16px;
            border: 1px solid #ccc;
            border-top: 0;
        }
        .card_body h3{font-size: 18px;margin-bottom: 5px;} /* section one=two 같은 상황이기 때문에  */
        .card_body p{font-size: 14px;} /* section one=two 같은 상황이기 때문에  */
        .card_body .btn{font-size: 14px;color:#6199e2;font-weight: bold;}

        /* section two  */
        .section_two{width: 980px;margin: 0 auto;margin-bottom: 50px;}
        .section_two li.card_two{
            float: left;width: 310px;margin-right: 25px;
            border: 1px solid #ccc;
            padding: 16px;
            position: relative;
            overflow: hidden;
        }
        .section_two li:last-child{margin-right: 0;}
        .section_two .card_two img{
            position: absolute; right: -30px; top: 14px;
        }
        .card_two .card_body{position: relative;}
        .card_two .card_body h3,
        .card_two .card_body p{margin-bottom: 15px;}


        .section_two li{
            background-repeat: no-repeat;
            background-position: 150px 0;
        }
        /* .section_two li:nth-child(1){
            background-image: url(../images/content_icon01.png);
        }
        .section_two li:nth-child(2){
            background-image: url(../images/content_icon02.png);
        }
        .section_two li:nth-child(3){
            background-image: url(../images/content_icon03.png);
        } */

        /* footer  */
        .footerWrap{background-color: #5e5e5e;}
        .footerTopWrap{background-color: #4d4d4d;}
        .footerWrap .footerTop{width: 980px;margin: 0 auto;}
        .footerWrap .footerMenu{float: left;}
        .footerWrap .footerMenu li{float: left;position: relative;}
        .footerWrap .footerMenu li:after{
            content:"";display: block;width: 1px;height: 13px;background: #fff;
            position: absolute;top: 13px;
        }
        .footerWrap .footerMenu li:first-child:after{content:"";display: none;}
        .footerWrap .footerMenu li a{
            display: block;line-height: 16px;text-align: center;
            font-size: 13px;color:white;padding: 13px 15px;
            letter-spacing: -0.075em;
        }
        .footerWrap .footerMenu li:first-child a{padding-left: 0;}

        .footerWrap .top{float: right;}

        .footerWrap .footerBottom{width: 980px;margin: 0 auto;padding: 20px 0;}
        .footerWrap .footerBottom h3{
            float: left;width: 120px;font-size: 22px;color:#ffffff;
            padding: 38px 0;
        }
        .footerWrap .footerBottom .fbRight{float: left;}
        .footerWrap .footerBottom .fbRight p{
            font-size: 13px;color:#A6A6A6;font-weight: bold;
            padding: 10px 50px;
        }
        .footerWrap address{
            font-style: normal;color: #A6A6A6;font-size: 12px;font-weight: bold;
            padding: 0px 50px;
            line-height: 20px;
        }