@charset 'utf-8';

body{font-family: 'Spoqa Han Sans Neo', 'sans-serif';}

/* header */
header{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;height: 100px;
    display: flex;align-items: center;
    position: absolute;z-index: 1;
}
.headerWrap{width: 1240px;margin: 0 auto;display: flex;align-items: center;}
.headerWrap .gnb{margin-left: auto;}
.headerWrap .gnb>ul{display: flex;width: 694px;}
.headerWrap .gnb>ul>li{
    flex:1;position: relative;
    transition: 0.3s;
}
.headerWrap .gnb>ul>li>a{
    display: block;line-height: 20px;text-align: center;
    font-size: 17px;color:white;height: 100%;
}

/* submemu */

.headerWrap .submenu{display: none;}
.headerWrap .submenu{
    background: white;
    position: absolute;
    width: 100%;
    top: 60px;
    /* text-align: center;
    transition: 0.4s; */
}
.headerWrap .submenu a{
    display: block;text-align: center;line-height: 35px;
    font-size: 16px;
}

/* person */
.person{display: flex;}
.person div{
    width: 71px;height: 24px;background:#7AB5C6;
    border-radius: 17px;font-size: 11px;
    display: flex;justify-content: center;align-items: center;
    cursor: pointer;
}
.person .cir1{color:white;margin-right: 7px;margin-left: 36px;}
.person .cir2{background: white;color:#333333;}

/* mobile person */
.headerWrap .personM{display: flex;justify-content: center;align-items: center;}
.headerWrap .personM>p{font-size: 14px;}
.headerWrap .personM{display: none;}

/*mobile toggle */
.headerWrap .toggle{
    width: 24px;height: 24px;
    display: flex;justify-content: center;align-items: center;
    cursor: pointer;
}
.headerWrap .toggle div{
    width: 18px;height: 2px;background: #000;
    border-radius: 5px;position: absolute;transition: 0.1s;
}
.headerWrap .toggle .bar1{transform: translateY(-3px);}
.headerWrap .toggle .bar3{transform: translateY(3px);}

.headerWrap .toggle.active .bar1{transform: translateY(0) rotate(45deg);}
.headerWrap .toggle.active .bar2{opacity: 0;}
.headerWrap .toggle.active .bar3{transform: translateY(0) rotate(-45deg);}

.headerWrap .toggle{display: none;}


/* visual */
.visual .bx-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 none;
}
.visual .bx-wrapper .bx-pager{bottom: 300px;}
.visual .bx-wrapper .bx-pager.bx-default-pager a{
    background:#7AB5C6;width: 15px;height: 15px;
    border-radius: 50%;margin-right: 15px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a.active{background: white;}

.visual .slide>li>img{width: 100%;height: 995px;}
.visual .slide>li>.visualCard{position: absolute;top: 300px;left: 325px;}
.visual .slide>li>.visualCard>h2{
    font-size: 88px;color:#7AB5C6;
    padding: 10px 0;
}
.visual .slide>li>.visualCard>h2>span{color:#333333;}
.visual .slide>li>.visualCard>p{
    font-size: 19px;color:#333333;
    line-height: 32px;font-weight: bold;
}

.visual .button{position: absolute;left: 120px;top: 400px;}
.visual .button div{
    width: 62px;height: 75px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;justify-content: center;align-items: center;
    border-radius: 5px;
}
.visual .button .prevBtn{position: absolute;left: 130px;}
.visual .button .nextBtn{position: absolute;right: -1550px;}





@media screen and (max-width:768px) {

    /* header */

    header{height: 56px;}
    .headerWrap{
        width: 100%;height: 56px;padding: 9px 16px;
    }
    .headerWrap .gnb{
        position: absolute;top: 0;left: -150%;
        width: 100%;height: 100%;
        background: white;
        display: flex;align-items: center;
        transition: 0.3s;
    }
    .headerWrap .gnb>ul{
        display: block;
    }
    .headerWrap .gnb>ul>li{margin-top: 20px;}
    .headerWrap .gnb>ul>li>a{
        font-size: 20px;
        font-weight: 500;
        text-align: right;
        color:#333333;
    }
    .headerWrap .personM{
        display: flex;justify-content: center;align-items: center;
        margin-left: auto;
    }
    .headerWrap .personM>p{font-size: 14px;}
    .headerWrap .toggle{
        display: flex;padding: 6px 0;margin-left: 26px;
    }
    .headerWrap .person{display: none;}

    /* visual */
}

