@charset 'utf-8';

body{font-family: 'Spoqa Han Sans Neo', 'sans-serif';}

/* header */
#header{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;align-items: center;
    position: absolute;z-index: 1;
    padding: 30px 0;
}
#header.fixed{
    position: fixed;top: 0;padding: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.headerWrap{width: 1240px;margin: 0 auto;display: flex;align-items: center;}
.headerWrap .gnb{margin-left: auto;}
.headerWrap .gnb>ul{display: flex;width: 694px;}
.headerWrap .gnb>ul>li{
    flex:1;position: relative;
    transition: 0.3s;
}
.headerWrap .gnb>ul>li>a{
    display: flex;justify-content: center;align-items: center;
    text-align: center;
    font-size: 17px;color:white;height: 40px;
}
.headerWrap .gnb>ul>li:after{
    content:"";position: absolute;width: 100%;background:#7AB5C6;
    height: 3px;transition: 0.3s;opacity: 0;bottom: -32px;
}
.headerWrap .gnb>ul>li:hover:after{opacity: 1;}

.headerWrap .gnb>ul>li>a>span>img{display: none;}

/* lang */
.lang{display: flex;width: 150px;}
.lang div{
    width: 71px;height: 24px;background:white;
    display: flex;justify-content: center;align-items: center;
    border-radius: 17px;font-size: 11px;color:#333333;
    cursor: pointer;
}
.lang .cir1{margin-right: 7px;margin-left: 36px;}
.headerWrap .lang .active{background:#7AB5C6;color:white;}


/* submemu */

.headerWrap .submenu{
    background: rgba(255, 255, 255, 0.8);
    position:absolute;
    width: 100%;height: 150px;
    top: 72px;
    text-align: center;
    transition: 0.3s;
    display: none;
}
.headerWrap .submenu a{
    display: block;text-align: center;line-height: 35px;
    font-size: 16px;
}

.headerWrap .personM{display: none;}

.headerWrap .toggle{display: none;}



/* visual */
.visual .bx-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 none;
    margin-bottom: 0;
}
.visual .bx-wrapper .bx-pager{bottom: 350px;}
.visual .bx-wrapper .bx-pager.bx-default-pager a{
    background:#7AB5C6;width: 15px;height: 15px;
    border-radius: 50%;margin-right: 15px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a.active{background: white;}

.visual .slide .sImg{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;align-items: center;
}
.visual .slide>li>.visualCard{
    position: absolute;transform: translate(325px,-100px);
    /* top: 300px;left: 325px; */
}
.visual .slide>li>.visualCard>h2{
    font-size: 5vw;color:#7AB5C6;
    padding: 10px 0;
}
.visual .slide>li>.visualCard>h2>span{color:#333333;}
.visual .slide>li>.visualCard>p{
    /* font-size: 19px; */
    width: 80vw;
    color:#333333;
    line-height: 32px;font-weight: bold;
}

.visual .button{position: absolute;left: 120px;top: 400px;}
.visual .button div{
    width: 62px;height: 75px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;justify-content: center;align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.visual .button .prevBtn{position: absolute;left: 130px;}
.visual .button .nextBtn{position: absolute;right: -1550px;}


/* news title  */
#news{display: none;}

/* contents */
.contents{width: 1240px;margin: 0 auto;margin-top: -310px;border-radius: 10px;overflow: hidden;margin-bottom: 84px;}
.contents>ul{display: flex;flex-wrap: wrap;position: relative;}
.contents>ul>li{width: 25%;height: 310px;}
.contents>ul>li:nth-child(1){background:#7AB5C6;}
.contents>ul>li:nth-child(2){background-size: cover;background-position: center;}
.contents>ul>li:nth-child(3){width: 50%;background: #eee;}
.contents>ul>li:nth-child(4){background: #E0A7C7;}
.contents>ul>li:nth-child(5){background: #9E9E9E;}
.contents>ul>li:nth-child(6){width: 50%;}
.contents>ul>li:nth-child(7){height: 620px;}
.contents>ul>li:nth-child(8){width: 50%;}
.contents>ul>li:nth-child(9){background: #E0A7C7;}
.contents>ul>li:nth-child(10){
    background: #9E9E9E;
    position: absolute;bottom: 0;right: 620px;
}
.contents>ul>li:nth-child(11){
    width: 50%;
    position: absolute;bottom: 0;right: 0;
}

.contents>ul>li>a{
    height: 100%;
    display: flex;justify-content: center;align-items: center;
}
.contents .card img{margin: 0 auto;}
.contents .card p{text-align: center;color:white;font-size: 19px;}


/* contents bxslide */
.contents .news{position: relative;}
.contents .news .item ul{display: flex;}
.contents .news .item ul>li{
    width: 50%;
    font-size: 15px;color:#666666;
}
.contents .news .item ul>li:nth-child(1){
    padding-top: 81px;padding-left: 39px;
    position: relative;
}
.contents .news .item ul>li:nth-child(1):after{
    content:"";display: block;
    border-width: 20px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    position: absolute;right: -40px;top: 50%;
    transform: translateY(-50%);
}

.contents .news .bx-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 none;
    margin-bottom: 0;
}
.contents .news .title{
    position: absolute;top: 38px;left: 39px;
    font-size: 22px;color:#333333;
}
.contents .news .btnWrap{
    position: absolute;display: flex;
    bottom: 30px;left: 195px;
    border: 1px solid #ccc;
}
.contents .news .btnWrap .left,
.contents .news .btnWrap .right{
    display: flex;justify-content: center;align-items: center;
    width: 39px;height: 39px;
    cursor: pointer;
}
.contents .news .btnWrap .left{border-right: 1px solid #ccc;}


.contents .textCard{color:#333333;}
.contents .textCard p{font-size: 18px;font-weight: bold;}
.contents .textCard p:after,
.contents .textCard .p1:after,
.contents .textCard .p2:after,
.contents .textCard .p3:after{
    content:"";
    display: block;width: 270px;height: 3px;background: #333333;
    margin: 10px 0;
}
.contents .textCard .p1:after{width: 50px;}
.contents .textCard .p2:after{width: 70px;}
.contents .textCard .p3:after{width: 150px;position: absolute;right: 38px;}

.contents .textCard h3,
.contents .textCard .t1{font-size: 2em;padding-top: 37px;}
.contents .textCard .t1{padding-top: 17px;}


/* vision title  */
#vision{display: none;}


/* vision contents2 */
.contents2{background:#7AB5C6;padding: 120px;margin-bottom: 84px;}
.contents2 .wrap{width: 1240px;margin: 0 auto;}
.contents2 .title{position: relative;margin-bottom: 95px;color:white}
.contents2 .title p{font-size: 18px;text-align: center;font-weight: bold;margin-bottom: 28px;}
.contents2 .title p:after{
    content:"";width: 40px;height: 3px;background: #fff;
    position: absolute;top: 30px;left: 50%;margin-left: -20px;
}
.contents2 .title h2{font-size: 45px;text-align: center;}
.contents2>.wrap>ul{display: flex;}
.contents2>.wrap>ul>li{width: calc( 100% / 4 );text-align: center;transition: 0.3s;}
.contents2>.wrap>ul>li:hover{transform: translateY(-20px);}
.contents2>.wrap>ul>li>.card{color:white}
.contents2>.wrap>ul>li>.card h3{margin-bottom: 15px;font-size: 28px;}
.contents2>.wrap>ul>li>.card p{font-size: 18px;}




/* contents3 */
/* .contents3{height: 700px;} */
.contents3 .notice h2{text-align: center;font-size: 45px;margin-bottom: 80px;}
.swiper{width: 100%;height: 500px;}
.swiper .swiper-pagination{bottom: 60px;}
.swiper-slide{
    /* background: orange; */
    width: 300px;height: 350px;
    border-radius: 10px;overflow: hidden;
}
.swiper-slide.active{transform: scale(1.1);}
.swiper-slide img {
    display: block;width: 100%;height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
.swiper-slide .card{padding: 0 16px;}
.swiper-slide .card h2{
    color:#7AB5C6;
    display: flex;justify-content: space-between;align-items: center;
    margin-bottom: 10px;
}
.swiper-slide .card h2 span{color:#333333;font-size: 18px;}
.swiper-slide .card p{font-size: 14px;}




/* contents4  */
.contents4{
    width: 1240px;margin: 0 auto;background: #F4F5F5;height: 310px;
    padding: 70px 0;
    position: relative;overflow: hidden;
    margin-bottom: 80px;
}
.contents4 .img01{
    position: absolute;
    transform: translate(156px,78px);
    z-index: 1;

    animation-name:img01;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img01{
    from{transform: translate(156px,78px);}
    to{transform: translate(156px,10px);}
}
.contents4 .img02{
    position: absolute;
    transform: translate(840px,6px);
    z-index: 1;

    animation-name:img02;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img02{
    from{transform: translate(840px,6px);}
    to{transform: translate(840px,-18px);}
}

.contents4 .cir1{
    position: absolute;
    width: 150px;height: 150px;
    transform: translate(63px,27px);
    border-radius: 50%;background: #D2F4FF;

    animation-name:img03;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse
}
@keyframes img03{
    from{transform: translate(63px,27px);}
    to{transform: translate(63px,-27px);}
}
.contents4 .cir2{
    position: absolute;
    width: 100px;height: 100px;
    transform: translate(836px,205px);
    background: #7AB5C6;border-radius: 50%;

    animation-name:img04;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse
}
@keyframes img04{
    from{transform: translate(836px,205px);}
    to{transform: translate(836px,100px);}
}

.contents4 .title{margin-bottom: 22px;color:#333333;text-align: center;}
.contents4 .title h2{font-size: 45px;margin-bottom: 22px;}
.contents4 .title p{font-size: 18px;}
.contents4 .btn{cursor: pointer;}
.contents4 .btn span{display: flex;justify-content: center;}
.contents4 .btn span{font-size: 18px;display: flex;align-items: center;color: #333333;}
.contents4 .btn img{margin-right: 10px;}




/* footer  */
footer{background: #F4F5F5;}
.footerWrap{width: 1240px;margin: 0 auto;padding: 30px 0;}
.footerWrap .top{display: flex;justify-content: space-between;margin-bottom: 10px;color:#888888}
.footerWrap .top>ul{display: flex;}
.footerWrap .top .left>li{margin-right: 16px;font-size: 15px;}
.footerWrap .after{
    width: 1240px;height: 1px;background: #c4c4c4;margin-bottom: 10px;
}
.footerWrap .top .right li{position: relative;margin-right: 20px;font-size: 13px;}
.footerWrap .top .right li:after{
    content: "";display: block;
    width: 1px;height: 12px;background: #C4C4C4;
    position: absolute;top: 8px;left: -10px;
}
.footerWrap .top .right li:first-child:after,
.footerWrap .top .right li:last-child:after{display: none;}
.footerWrap .top .right li:last-child{margin-right: 0;}

.footerWrap .bottom{display: flex;justify-content: space-between;margin-bottom: 10px;}
.footerWrap .bottom p{font-size: 14px;color:#888888;line-height: 25px;}
.footerWrap .bottom ul{display: flex;}

.footerWrap address{font-size: 14px;color: #888888;}


/* commom  */
.flex-none{display: block !important;}
.pt39{padding-top: 39px !important;}
.pl38{padding-left: 38px !important;}
.pr38{padding-right: 38px !important;}
.tar{text-align: right;}
.d-none{display: none;}




/* sub company  */

/* visual */

.visual.company{
    height: 500px;
    background-size: cover;
}
.visual.company .textWrap{width: 1240px;margin: 0 auto;}
.visual.company .text{transform: translateY(230px);}
.visual.company .text h2{font-size: 50px;color:white;margin-bottom: 10px;}
.visual.company .text p{font-size: 19px;color:white;}


/* bar */

.bar.company{
    width: 1240px;margin: 0 auto;height: 56px;
}
.bar.company>ul{display: flex;align-items:center;}
.bar.company>ul>li{margin-right: 50px;position: relative;}
.bar.company>ul>li>a{display: block;font-size: 17px;color:#333333;line-height: 56px;}
.bar.company>ul>li>a:after{
    content: "";display: block;
    width: 1px;height: 20px;background: #c4c4c4;
    position: absolute;top:19px;left: -25px;
}
.bar.company>ul>li:first-child a:after{content: "";display: none;}
.bar.company>ul>li>a:hover{color:#7AB5C6}
.bar.company>ul>li>a.active{color:#7AB5C6}

.line.company{width: 100%;height: 1px;background: #c4c4c4;}


/* contents1  */
.contents1.company{
    width: 1240px;margin: 0 auto;position: relative;
    margin-bottom: 136px;
}

/* location */
.contents1.company .locationWrap{position: relative;top: 27px;}
.contents1.company .location{
    position: absolute;right: 0;
    font-size: 15px;color: #7AB5C6;
    cursor: pointer;
}
.contents1.company .location span{color: #333333;padding-right: 8px;padding-left: 10px;}
.contents1.company .location img{margin-right: 10px;}

/* bg text  */
.contents1.company .textBg{
    position: absolute;
    right: -90px;top: 80px;
}
.contents1.company .textBg .ani_turn{
    animation:turn 10s linear infinite;
}
@keyframes turn{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}


.contents1.company .title{transform: translateY(156px);margin-bottom: 250px;}
.contents1.company .title h2{font-size: 50px;margin-bottom: 31px;}
.contents1.company .title p{font-size: 20px;}


.contents1.company .cols{display: flex;flex-wrap: wrap;margin-left: -40px;}
.contents1.company .cols .col{
    width: calc(25% - 40px);height: 300px;
    margin: 0 0 40px 40px;
    cursor: pointer;
    background: #f4f5f5;
    display: flex;justify-content: center;align-items: center;
    border-radius: 10px;
    z-index: 1;
}
.contents1.company .cols .col .container{text-align: center;}
.contents1.company .cols .col .container h2{font-size: 50px;}
.contents1.company .cols .col .container h2 span{font-size: 28px;}
.contents1.company .cols .col .container p{font-size: 17px;color:#666666}

.contents1.company .cols .col:hover{transform: scale(1.1);}



/* contents2 company */

.contents_two.company{width: 1240px;margin: 0 auto;margin-bottom: 145px;}
.contents_two.company .title{margin-bottom: 106px;}
.contents_two.company .title h2{font-size: 50px;margin-bottom: 31px;}
.contents_two.company .title p{font-size: 20px;}


.contents_two.company .cols2{
    display: flex;flex-wrap: wrap;
    margin-left: -20px;
}
.contents_two.company .cols2 .col2{
    width: calc(32.6% - 20px);height: 322px;
    margin: 0 0 20px 20px;
    display: flex;justify-content: flex-start;
    flex-direction: column;
    background: #F4F5F5;
    cursor: pointer;
    align-items: center;justify-content: center;
    border-radius: 10px;
}
.contents_two.company .cols2 .col2 .container{text-align: center;}
.contents_two.company .cols2 .col2 .container h2{font-size: 60px;color:#7AB5C6}
.contents_two.company .cols2 .col2 .container h2 span{font-size: 28px;}
.contents_two.company .cols2 .col2 .container img{margin-bottom: 10px;}
.contents_two.company .cols2 .col2 .container p{font-size: 16px;color:#555555;}

.contents_two.company .cols2 .col2:hover{transform: scale(1.1);}




/* sub company01 */
.contents1.company .com_img01,
.contents1.company .com_img02{margin-bottom: 150px;}
.contents1.company .com_img03{display: flex;justify-content: center;}

.contents1.company .com_img01 img,
.contents1.company .com_img02 img,
.contents1.company .com_img03 img{width: 100%;}


/* sub company03 */
.contents1.company .com_img05{transform: translateY(150px);margin-bottom: 300px;}
.contents1.company .com_img06,
.contents1.company .com_img07{margin-bottom: 150px;}

.contents1.company .com_img05 img,
.contents1.company .com_img06 img,
.contents1.company .com_img07 img,
.contents1.company .com_img08 img{width: 100%;}


/* sub business  */
.contents1.company .bs_img01{margin-bottom: 0;}
.contents1.company .bs_img01 img,
.contents1.company .bs_img02 img{width: 100%;}


/* sub business01  */

.contents1.company .bs_img03{margin-bottom: 150px;}
.contents1.company .bs_img04{margin-bottom: 100px;}

.contents1.company .bs_img03 img,
.contents1.company .bs_img04 img,
.contents1.company .bs_img05 img{width: 100%;}



/* sub rnd  */
.contents1.company .rnd_img01 img{width: 100%;}
.rnd_img02 img{width: 100%;}


/* sub notice  */
.contents1.company .no_img01{transform: translateY(150px);margin-bottom: 160px;}
.contents1.company .no_img01 img,
.contents1.company .no_img02 img{width: 100%;}

.contents1.company .no_img06{transform: translateY(150px);margin-bottom: 150px;}
.contents1.company .no_img06 img,
.contents1.company .no_img07 img{width: 100%;}

/* sub newsrooms  */

.contents1.company .news_img04 img,
.contents1.company .news_img05 img,
.contents1.company .news_img06 img,
.contents1.company .news_img07 img{width: 100%;}


.contents1.company .news_img11{margin-bottom: 0;}

.contents1.company .news_img08 img,
.contents1.company .news_img09 img,
.contents1.company .news_img10 img,
.contents1.company .news_img11 img{width: 100%;}


/* sub product */
.contents1.company .pd_img01{transform: translateY(150px);margin-bottom: 160px;}

.contents1.company .pd_img01 img,
.contents1.company .pd_img02 img,
.contents1.company .pd_img03 img,
.contents1.company .pd_img04 img,
.contents1.company .pd_img05 img{width: 100%;}