@charset 'utf-8';

body{}


/* header start  */
header{height: 160px;}

/* nav top  */
.navTopWrap{background-color: rgba(118,0,35,0.8);}
.navTop{
    width: 1200px;margin: 0 auto;
    display: flex;justify-content: space-between;
}
.nav{width: 364px;}
.nav ul{display: flex;height: 40px;}
.nav ul li{
    width: 120px;margin-right: 2px;
    background: #760023;
}
.nav ul a{
    display: flex;justify-content: center;align-items: center;
    height: 40px;
    font-size: 15px;color:white;font-weight: bold;
}
.nav ul a:hover,
.nav ul a.active{color:black;background-color: #fff;}
/* nav top end  */

/* utilMenu top  */
.utilMenu ul{display: flex;}
.utilMenu ul li{height: 40px;}
.utilMenu ul a{
    display: flex;justify-content: center;align-items: center;
    height: 40px;
    color:white;font-size: 12px;font-weight: bold;
    padding: 0 12px;
}
.utilMenu ul a:last-child{padding-right: 0;}

.utilMenu ul li .util_box01,
.utilMenu ul li .util_box02{
    width: 16px;height: 16px;background-color: #fff;
    display: flex;justify-content: center;align-items: center;
}
.utilMenu ul li .util_box01{margin-right: 2px;}
.utilMenu ul li .util_box02{position: relative;}
.utilMenu ul li .minus,
.utilMenu ul li .plus01{
    width: 6px;height: 2px;background: #9b9b9b;
}
.utilMenu ul li .plus01{position: absolute;}
.utilMenu ul li .plus02{
    width: 2px;height: 6px;background: #9b9b9b;position: absolute;
}
/* utilMeny top end  */

/* logo  */
.navBottomWrap{
    width: 1200px;margin: 0 auto;
    display: flex;justify-content: space-between;
}
.navBottomWrap .logo{padding: 40px 0;}

/* main menu  */
.logoMenuWrap{
    width: 750px;height: 120px;
    display: flex;justify-content: space-between;
}
.logoMenuWrap .mainmenu ul{display: flex;height: 120px;}
.logoMenuWrap .mainmenu ul a{
    display: flex;justify-content: center;align-items: center;
    height: 120px;padding: 0 25px;
    font-size: 20px;font-weight: bold;color:#4d4d4d;
}
.logoMenuWrap .utilmenu{
    width: 90px;height: 45px;
    margin: 40px 0;
}
.logoMenuWrap .utilmenu .bar01,.bar02{
    width: 45px;height: 45px;
    display: flex;justify-content: center;align-items: center;
}
.logoMenuWrap .utilmenu .bar01{float: left;background-color: #9B9B9B;}
.logoMenuWrap .utilmenu .bar02{float: right;background-color: #760023;}
/* header end  */


/* section title  */
section.section{
    /* height: 1300px; */
    background-image: url(../images/dot.png),url(../images/배경01.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
    padding: 60px 0;
}
.container{width: 1200px;margin: 0 auto;margin-bottom: 60px;}
.titleWrap{
    display: flex;justify-content: space-between;height: 140px;
}
.titleWrap .title{color: white;}
.titleWrap .title h3{font-size: 44px;font-weight: normal;}
.titleWrap .title h2{font-size: 66px;}

.secBannerWrap ul{display: flex;width: 425px;}
.secBannerWrap ul a{
    display: flex;justify-content: center;align-items: center;
    height: 120px;padding: 0 10px;
}
.secBannerWrap ul a:last-child{padding-right: 0;}
.secBannerWrap ul h4{
    font-size: 16px;color: white;font-weight: bold;text-align: center;
}

/* section visual common */
.contentWrap>ul>li:nth-child(1){width: 75%;height: 450px;}
.contentWrap>ul>li:nth-child(2){height: 450px;}
.contentWrap>ul>li:nth-child(8){width: 75%;}

/* section visual one*/
.contentWrap>ul>li{float: left;width: 25%;height: 225px;}
.contentWrap .bx-wrapper{
    -moz-box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
    border: 0 none;
}
.contentWrap .bx-wrapper .bx-pager{bottom: 40px;}
.contnetWrap .bx-wrapper .bx-pager.bx-default-pager a{
    background-color: #535353;
}
.contentWrap .bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: blue;
}

.contentWrap>ul>.main_one{position: relative;}

.contentWrap>ul>li .card .text{
    position: relative;
    top: -450px;
}
.contentWrap>ul>li .card h1{
    font-size: 66px;
    line-height: 77px;
    letter-spacing: 0.03em;
    position: absolute;
    top: 80px;left: 80px;
    color:#770F2E
}
.contentWrap>ul>li .card p{
    font-size: 14px;
    padding: 0 10px;color:white;font-weight: bold;
}
.contentWrap>ul>li .card .botton{
    position: absolute;
    top: 330px;left: 80px;
    display: flex;justify-content: center;align-items: center;
    width: 168px;height: 40px;background-color: #760023;
}

.contentWrap>ul>li>.preBtn,.nextBtn{
    width: 55px;height: 70px;
    display: flex;justify-content: center;align-items: center;
    position: absolute;top: 50%;margin-top: -35px;
}
.contentWrap>ul>li>.preBtn{background-color: rgba(126,124,125,0.8)}
.contentWrap>ul>li>.nextBtn{background-color: rgba(0,0,0,0.6);right: 0;}


/* section visual two*/
.contentWrap>ul>li.main_two{position: relative;}
.contentWrap>ul>li.main_two .card_two{
    position: absolute;
    top: 50px;left: 30px;
}
.contentWrap>ul>li.main_two h3{
    font-size: 40px;
    margin-bottom: 16px;
    color:white;
}
.contentWrap>ul>li.main_two .card_two>p{
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}
.contentWrap>ul>li.main_two .card_two .botton p{
    font-size: 14px;
    font-weight: bold;
    color:#ffffff;
    float: left;
}
.contentWrap>ul>li.main_two .card_two .botton img{
    padding: 0 5px;
}

.contentWrap>ul>li.main_two .card_two .botton{
    width: 170px;height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrap>ul>li.main_three{
    background-color: #66001E;
}
.contentWrap>ul>li.main_three .card_one h4{
    font-size: 23px;color:white;
    padding: 25px 0 0 20px;
    margin-bottom: 20px;
}
.contentWrap>ul>li.main_three .card_two .subTit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrap>ul>li.main_three .card_two .subTit li{float: left;}
.contentWrap>ul>li.main_three .card_two .subTit p{
    font-size: 13px;text-align: center;
    color: white;font-weight: bold;
}

.contentWrap>ul>li.main_four{
    background-image: url(../images/배경04.png);
}
.contentWrap>ul>li.main_four .card_one h4{
    font-size: 23px;color:white;
    padding: 25px 0 0 20px;
    position: relative;
}
.contentWrap>ul>li.main_four .card_one h4:after{
    content: "";
    display: block;
    width: 260px;height: 2px;background: white;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentWrap>ul>li.main_four .card_two{
    margin-top: 38px;
}
.contentWrap>ul>li.main_four .card_two ul{
    display: flex;
    justify-content: center;align-items: center;
}
.contentWrap>ul>li.main_four .card_two ul li{
    float: left;
    font-size: 13px;color: white;font-weight: bold;
    margin-bottom: 15px;
}

.contentWrap>ul>li.main_five{background: white;}
.contentWrap>ul>li.main_five .card_one h4{
    font-size: 23px;color:black;
    padding: 25px 0 0 20px;
    margin-bottom: 20px;
}
.contentWrap>ul>li.main_five .card_two{
    display: flex;justify-content: center;align-items: center;
    margin-bottom: 20px;
}
.contentWrap>ul>li.main_five .card_two img{float: left;}
.contentWrap>ul>li.main_five .card_two p{
    float: left;
    color: #5D5D5D;
    font-size: 13px;line-height: 20px;padding-left: 16px;
}
.contentWrap>ul>li.main_five .card_three ul{float: right;margin-right: 15px;}
.contentWrap>ul>li.main_five .card_three ul li{float: left;margin-right: 3px;}

.contentWrap>ul>li.main_six{position: relative;}
.contentWrap>ul>li.main_six .txt{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;line-height:50px;color:white;font-weight: bold;
    width: 300px;height: 50px;
    position: absolute;
    bottom: 0;
}
.contentWrap>ul>li.main_seven{
    position: relative;
    display: flex;justify-content: center;align-items: center;
}
.contentWrap>ul>li.main_seven img{position: absolute;}

.contentWrap>ul>li.main_eight ul.slide li{height: 225px;}
