@charset 'utf-8';

body{
    font-family: 'Assistant', 'NEXON Lv2 Gothic', sans-serif;
}
@font-face{
    font-family: 'NEXON Lv2 Gothic';
    src:url(../font/NEXON\ Lv2\ Gothic.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --box-shadow1: 10px 10px 20px rgba(0,0,0,0.3);
}
ul{margin: 0;padding: 0;}
.lazy-load{transform: translateY(100px);transition:1s;opacity: 0;}
.lazy-load.fade{transform: translateY(0);opacity: 1}

.navbar form input{border-radius: 30px;}
.navbar form .btn{
    background: url(../images/ic_search.png) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
}
.navbar .bg-color{
    position: absolute;
    width: 100%;height: 600px;
    background: linear-gradient(1500deg, #fddb92 0%, #d1fdff 100%);
    transform: skew(0,-15deg);
}
.video video{
    object-fit: fill;
    width: 100%;
    height: "auto";
    border-radius: 5px;
    box-shadow: var(--box-shadow1);
}
.card-view .banner{
    border-radius: 5px;
}

.clinic>.row>div{top: 50%;transform: translateY(-50%);}

.insta .insta_logo{width: 200px;}
.insta button{
    background: url(../images/insta_plus_button.png) no-repeat center;
    background-size: contain;
    width: 48px;height: 18px;
    border: 0;
    float: right;
    margin-top: 20px;
}
.insta .row>div{cursor: pointer;}
.content .img-card img{max-width: 300px !important;right: 10rem;top: -3rem;}

.contact{
    background: url(../images/pill.jpg) no-repeat center;
    background-size: cover;
}

.footer .pntmall>div>p{color:#666666;}

/* common */
.fs-24{font-size: 24px !important;}
.fs-16{font-size: 16px !important;}




