@charset 'utf-8';

body{
    font-family: 'Noto Sans KR', sans-serif;
}

:root{
    --shadow-color1:3px 3px 10px rgba(0,0,0,0.3);
}

/* header */
.nav{z-index: 1;}
.navbar{width: 100%;}
.navbar .navbar-brand img{width: 70px;}

.form-control{border-radius: 20px;}
.nav form{position: relative;width: 300px;}
.nav form button.btn,
.nav form button.btn-cam{
    position: absolute;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    right: 16px;
    width: 24px;height: 24px;
}
.nav form button.btn{background-image: url(../images/ic_search.png);}
.nav form button.btn-cam{
    background-image: url(../images/ic_camera.png);
    right: 56px;
    border: 0 none;
    background-color: #fff;
}


/* visual */
.visual{height: 100vh;position: relative;}
.visual .container video{
    width: 100%;
    height: auto;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.visual .container .playBtn{
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.visual .container .playBtn img{width: 80px;height: 80px;}

.visual .scrolldown{
    z-index: 1;
    display: block;
    border-width: 20px;
    border-color: #3A70FF transparent transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: 60px;left: 50%;
    
    animation-name:scrolldown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes scrolldown{
    from{bottom: 60px;}
    to{bottom: 80px;}
}
.content1 .info{
    width: auto;
    max-width: 350px;
    word-break: keep-all;
    margin-left: calc((100vw - 1160px)/2);
    margin-right: 255px !important;
}
.content1 .info p{font-size: 16px;}
.content1 .info h3{font-size: 32px;}
.content1 .right{
    margin-left: auto;
    width: 50%;
}


.content3{height: 400px;}
.content3>h3{
    max-width: 1160px;
    overflow: hidden;
    margin: 0 auto;
}

.content3 .card{border: 0 none;transition: 0.3s;}
.content3 .card:hover{
    box-shadow: var(--shadow-color1);
    transform: scale(1.02);
}
.content3 .card img{height: 200px;}
.content3 p{color:#3A70FF;font-size: 15px;}
.content3 .row{
    max-width: 1555px;
    float: right;
}
.content3 .row h3{font-size: 20px;}


.use img{height: auto}
.use .owl-item{padding: 30px;transition: 0.3s;opacity: 0.5;}
.use .owl-item.center{padding: 0px;opacity: 1;}


footer{
    padding: 60px 0;
    background: #f9f9f9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


footer .footerList{padding-left: 0;}
footer .footerList li{padding-left: 0 !important;}
footer .fs-title-5{width: 180px;font-size: 14px;font-weight: bold;}
footer .fs-title-2{font-size: 26px;font-weight: bold;}
footer .fs-title-2 p{font-size: 14px;font-weight: normal;color:#666666}

footer .list5{margin-left: 0 !important;}
footer .list5 li{margin-right: 5px;}
footer .list2,
footer .list4{width: 180px;}

footer .fs-txt-3>a{color:#666666 !important;}
footer .fs-txt-4{color:#999999;font-size: 13px;}


footer .sns a img{width: 32px;height: 32px;}

.container-1160{
    width: 1160px;
    overflow: hidden;
    margin: 0 auto;
}

